{% extends "base.html" %}
{% block title %}Products{% endblock title %}
{% block content %}
<div class="row">
  {% for product in products %}
  <div class="col-md-4 mb-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ product.thumbnail.url }}" alt="Product Image">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.desc }}</p>
        <a href="{% url 'products:product-detail' product.id %}" class="btn btn-primary">View Detail</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock content %}